<a href="https://colab.research.google.com/github/Amirshteyn/Exercises/blob/main/DFwithDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import sqlite3 as sql

In [3]:
db = sql.connect("newdb.db")
cursor = db.cursor()

In [4]:
df = pd.read_csv ("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/Electricity_Production_By_Source.csv")
df.head()

,Entity,Code,Year,Electricity from coal (TWh),Electricity from gas (TWh),Electricity from hydro (TWh),Electricity from other renewables (TWh),Electricity from solar (TWh),Electricity from oil (TWh),Electricity from wind (TWh),Electricity from nuclear (TWh)
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

In [5]:
cols = ['country','code','year','coal','gas','hydro','renewable_other','solar','oil','wind','nuclear']
df.columns = cols
df.head()

,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

In [6]:
df.to_sql('elect',db)

6241

In [7]:
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
print(cursor.fetchall())

[('elect',)]

In [8]:
cursor.execute("PRAGMA table_info(elect);")
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 0),
 (2, 'code', 'TEXT', 0, None, 0),
 (3, 'year', 'INTEGER', 0, None, 0),
 (4, 'coal', 'REAL', 0, None, 0),
 (5, 'gas', 'REAL', 0, None, 0),
 (6, 'hydro', 'REAL', 0, None, 0),
 (7, 'renewable_other', 'REAL', 0, None, 0),
 (8, 'solar', 'REAL', 0, None, 0),
 (9, 'oil', 'REAL', 0, None, 0),
 (10, 'wind', 'REAL', 0, None, 0),
 (11, 'nuclear', 'REAL', 0, None, 0)]

In [9]:
query = "SELECT * FROM elect WHERE country = 'United States'"
pd.read_sql(query,db)

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,5887,United States,USA,1985,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
1,5888,United States,USA,1986,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
2,5889,United States,USA,1987,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
3,5890,United States,USA,1988,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
4,5891,United States,USA,1989,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492
5,5892,United States,USA,1990,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819
6,5893,United States,USA,1991,1722.535851,410.272061,287.326014,60.551763,0.478253,128.765132,2.980759,644.805355
7,5894,United States,USA,1992,1757.501372,434.488572,251.425678,64.815412,0.408844,107.692648,2.916690,651.343435
8,5895,United States,USA,1993,1831.210785,446.157847,279.250946,66.924724,0.475162,121.277613,3.036189,642.411804
9,5896,United States,USA,1994,1832.271952,494.858798,259.341321,66.354857,0.501873,113.872025,3.481928,674.147192
10,5897,United States,USA,1995,1853.006902,533.395640,311.219815,63.265079,0.514472,80.165661,3.196215,708.844340
11,5898,United States,USA,1996,1945.754200,489.307071,347.549480,64.825960,0.541341,87.538952,3.266736,710.240575
12,5899,United States,USA,1997,1998.243409,515.482441,355.973121,65.820084,0.532696,99.521369,3.321247,661.730706
13,5900,United States,USA,1998,2029.040774,571.244198,322.089274,65.617126,0.524659,138.494810,3.056259,709.160109
14,5901,United States,USA,1999,2037.863243,598.275405,316.605182,66.477721,0.518342,126.947138,4.533331,766.583288
15,5902,United States,USA,2000,1966.265000,614.993000,270.034000,74.819000,0.493000,116.015000,5.593000,753.893000
16,5903,United States,USA,2001,1903.955943,648.168593,208.137599,63.488559,0.542755,136.786564,6.737332,768.826308
17,5904,United States,USA,2002,1933.130354,702.468431,255.585905,68.200062,0.554831,108.094305,10.354279,780.064087
18,5905,United States,USA,2003,1973.736750,665.507561,267.271263,67.765320,0.534001,133.450147,11.187467,763.732695
19,5906,United States,USA,2004,1978.300549,725.352447,259.929098,68.348428,0.575155,135.377458,14.143741,788.528387
20,5907,United States,USA,2005,2012.873046,774.424398,263.763467,68.968555,0.550294,135.046076,17.810549,781.986365
21,5908,United States,USA,2006,1990.511135,830.617578,282.688574,69.428650,0.507706,77.140813,26.589137,787.218636
22,5909,United States,USA,2007,2016.455584,910.043145,240.613622,70.175791,0.611793,77.970109,34.449927,806.424753
23,5910,United States,USA,2008,1985.801247,894.687475,248.543323,69.873588,0.864315,58.046277,55.363100,806.208435
24,5911,United States,USA,2009,1755.904253,931.610787,268.817749,69.501392,0.891179,50.864849,73.886132,798.854585
25,5912,United States,USA,2010,1847.290279,999.010021,254.701937,71.308579,1.212182,49.916355,94.652246,806.968301
26,5913,United States,USA,2011,1733.430005,1025.255129,312.934388,71.986898,1.817696,44.335845,120.176599,790.204367
27,5914,United States,USA,2012,1514.042945,1237.791760,271.289723,73.184591,4.326675,36.976608,140.821715,769.331249
28,5915,United States,USA,2013,1581.114716,1137.688497,263.884350,76.632701,9.035620,40.751966,167.839745,789.016473
29,5916,United States,USA,2014,1581.710350,1138.630744,253.193074,79.866385,28.923690,43.693157,181.655282,797.165982
30,5917,United States,USA,2015,1352.398197,1346.598808,243.988597,79.549452,39.032171,42.276556,190.718548,797.177877
31,5918,United States,USA,2016,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948
32,5919,United States,USA,2017,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635
33,5920,United States,USA,2018,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477
34,5921,United States,USA,2019,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262
35,5922,United States,USA,2020,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631

In [10]:
query = """
CREATE TABLE IF NOT EXISTS worldpop(
rank INT,
country TEXT PRIMARY KEY,
density DOUBLE,
population DOUBLE NOT NULL,
area INT NOT NULL
);
"""
cursor.execute(query)
db.commit()

In [11]:
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
print(cursor.fetchall())

[('elect',), ('worldpop',)]

In [12]:
cursor.execute("PRAGMA table_info(worldpop);")
cursor.fetchall()

[(0, 'rank', 'INT', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 1),
 (2, 'density', 'DOUBLE', 0, None, 0),
 (3, 'population', 'DOUBLE', 1, None, 0),
 (4, 'area', 'INT', 1, None, 0)]

In [13]:
query = "INSERT INTO worldpop VALUES( 1, 'Macau', 21946.4667, 658.3840,30);"
cursor.execute(query)
db.commit()

In [14]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

[(1, 'Macau', 21946.4667, 658.384, 30)]

In [15]:
query = "INSERT INTO worldpop (country,population,area) VALUES(  'Uzbekistan',33935.7656,447669);"
cursor.execute(query)
db.commit()

In [26]:
query = "UPDATE worldpop SET rank = 133, density = 75.8511 WHERE country = 'Uzbekistan'"
cursor.execute(query)
db.commit()

In [ ]:
query = "SELECT * FROM worldpop"
pd.read_sql(query,db)

In [ ]:
query = "DELETE FROM worldpop WHERE country = 'Macau'"
cursor.execute(query)

In [28]:
db.commit()

In [ ]:
query = "SELECT * FROM worldpop"
pd.read_sql(query,db)

In [ ]:
cursor.execute("DROP TABLE worldpop")

In [31]:
db.commit()