<a href="https://colab.research.google.com/github/Amirshteyn/Exercises/blob/main/practikum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3 as sql

In [ ]:
db = sql.connect("newdb.db")
cursor = db.cursor()

In [ ]:
df = pd.read_csv ("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/Electricity_Production_By_Source.csv")
df.head()

In [ ]:
cols = ['country','code','year','coal','gas','hydro','renewable_other','solar','oil','wind','nuclear']
df.columns = cols
df.head()

In [ ]:
df.to_sql('elect',db)

ValueError: Table 'elect' already exists.

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
print(cursor.fetchall())

[('elect',), ('worldpop',)]

In [ ]:
cursor.execute("PRAGMA table_info(elect);")
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 0),
 (2, 'code', 'TEXT', 0, None, 0),
 (3, 'year', 'INTEGER', 0, None, 0),
 (4, 'coal', 'REAL', 0, None, 0),
 (5, 'gas', 'REAL', 0, None, 0),
 (6, 'hydro', 'REAL', 0, None, 0),
 (7, 'renewable_other', 'REAL', 0, None, 0),
 (8, 'solar', 'REAL', 0, None, 0),
 (9, 'oil', 'REAL', 0, None, 0),
 (10, 'wind', 'REAL', 0, None, 0),
 (11, 'nuclear', 'REAL', 0, None, 0)]

In [ ]:
query = "SELECT * FROM elect WHERE country = 'United States'"
pd.read_sql(query,db)

In [ ]:
query = """
CREATE TABLE IF NOT EXISTS worldpop(
rank INT,
country TEXT PRIMARY KEY,
density DOUBLE,
population DOUBLE NOT NULL,
area INT NOT NULL
);
"""
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
print(cursor.fetchall())

[('elect',), ('worldpop',)]

In [ ]:
cursor.execute("PRAGMA table_info(worldpop);")
cursor.fetchall()

In [ ]:
query = "INSERT INTO worldpop VALUES( 1, 'Macau', 21946.4667, 658.3840,30);"
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

In [ ]:
query = "INSERT INTO worldpop (country,population,area) VALUES(  'Uzbekistan',33935.7656,447669);"
cursor.execute(query)
db.commit()

In [ ]:
query = "SELECT * FROM worldpop"
pd.read_sql(query,db)

   rank     country     density  population    area
0   1.0       Macau  21946.4667    658.3840      30
1   NaN  Uzbekistan         NaN  33935.7656  447669